.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 1rem;
  height: 8rem;
}
